<!DOCTYPE hmtl>
<html>

    <head>
        <!-- add in title and also in app.py -->
        <title>Twitoff! - {{ title }}</title>
        <!-- add in a style sheet from picnicss.com -->
        <link rel="stylesheet" href="https://unpkg.com/picnic">
    </head>

    <body>
        <h1> Twitoff! </h1>

    <!-- Put in form to GET user -->
    {% block content %}
    <form action="/user" method="post">
        <input type="text" name="user_name" placeholder="User to add">
        <input type="submit" value="Add User">

    </form>
    {% endblock %}
    </body>

</html>